services:
  db:
    image: postgres:18
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - postgres:/data/postgres
    restart: unless-stopped

volumes:
  postgres:
